<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234620753590-jonrg7rfg28kvse9i2u6el3pm58sm05i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234620753590-jonrg7rfg28kvse9i2u6el3pm58sm05i</string>
	<key>API_KEY</key>
	<string>AIzaSyC5YhT2eTyfD_RK_tMaCsJ6WWkfPkn72zg</string>
	<key>GCM_SENDER_ID</key>
	<string>234620753590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuando.ios.easykiip</string>
	<key>PROJECT_ID</key>
	<string>ezkiip</string>
	<key>STORAGE_BUCKET</key>
	<string>ezkiip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234620753590:ios:bcd1d91e842610907ff817</string>
	<key>DATABASE_URL</key>
	<string>https://ezkiip.firebaseio.com</string>
</dict>
</plist>