<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EasyKIIP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EasyKIIPKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>EasyKIIP_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>UserSession.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17B70A81244C180200C67334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B70A97244C180600C67334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B70AB9244CF1CD00C67334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B70AC1244CF1CE00C67334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B70B57245580B600C67334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B70B5F245580B700C67334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
